

@using Models

@model Category

    <div class="main-container">
        <div class="pd-ltr-20">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> User Name : @Model.Name</h5>
                    <h5 class="card-title"> Email : @Model.Picture</h5>
                    <p class="card-text"> PhoneNumber : @Model.ParentId</p>
              
                    <a href="~/Customer/Index" class="btn btn-primary">Back to List</a>
                </div>
            </div>

        </div>
    </div>